<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Sylvanas Manager</title>
    <meta charset="UTF-8">
    <link href="https://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdn.staticfile.org/vue/2.2.6/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="ui/highcharts.js"></script>
    <script src="ui/exporting.js"></script>
    <script src="ui/export-data.js"></script>


    <style type="text/css">

        .center1{
            margin:0 auto;
        }
        .header{
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .title2{
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
            height: 120px;
            line-height: 120px;
        }
        .caption{
            margin-top:  10px;
            margin-bottom: 20px;
            font-size: 40px;
            font-family: Verdana;
        }
        .table thead tr th{
            vertical-align: middle;
            text-align: center;
        }

        .table tbody tr td{
            vertical-align: middle;
            text-align: center;
        }
        .text1{
            margin: 0 30px;
            width: 50%;
        }
        .intro{

            font-size: 20px;
        }

    </style>
</head>
<body>
<div id="app">
<div>
    <div >
        <img class="col-md-3 header" src="ui/logo.png"/>
        <p class="col-md-6 header title2">Web应用服务器的设计与实现</p>
        <img class="col-md-3 header" src="ui/logo2.png"/>
    </div>

</div>

<div class="col-md-offset-2 col-md-8 text-center">
<table class="table table-bordered table-hover" >
    <caption class="caption">项目管理</caption>
    <thead>
    <tr>
        <th>路径</th>
        <th>项目名</th>
        <th>状态</th>
        <th>会话数</th>
        <th>命令</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="context in contexts">
        <td width="15%">{{context.path}}</td>
        <td width="25%"><a v-bind:href="'/'+context.projectName+'/index.html'" target="_blank">{{context.projectName}}</a></td>
        <td>{{context.status}}</td>
        <td>{{context.sessions}}</td>
        <td v-bind:id="context.projectName">
            <button  v-on:click="handle($event)" type="button" class="btn btn-default " value="Start">Start</button>
            <button  v-on:click="handle($event)" type="button" class="btn btn-default " value="Stop">Stop</button>
            <button  v-on:click="handle($event)" type="button" class="btn btn-default " value="Undeploy">Undeploy</button>
            <button  v-on:click="handle($event)" type="button" class="btn btn-default " value="Sessions">Expire Sessions</button>
        </td>
    </tr>

    </tbody>
</table>

</div>

<div style="margin-top: 30px;margin-bottom: 30px" class="col-md-offset-4 col-md-4 text-center" >

    <input  v-model="deployPath" class="text1" type="text" />
    <input  v-on:click="handle($event)" type="button" class="btn btn-default " value="部署项目"/>
</div>

<div class="col-md-offset-2 col-md-8 " style="display:inline;margin-top: 30px">

    <div class=" col-md-4 " id="container" style="height: 250px"></div>
    <div class=" col-md-4 " id="container2" style="height: 250px"></div>
    <div class=" col-md-4 " id="container3" style="height: 250px"></div>

</div>


    <div class="col-md-offset-2 col-md-8 text-center" style="margin-bottom: 80px;margin-top: 70px">
        <table class="table table-bordered table-hover" >
            <caption class="caption">服务器系统信息</caption>
            <thead>
            <tr>
                <th>Server Version</th>
                <th>JVM Version</th>
                <th>JVM Vendor</th>
                <th>OS Name	</th>
                <th>OS Version</th>
                <th>OS Architecture	</th>
                <th>IP Address</th>
                <th>Hostname</th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <td>{{sys.serverVersion}}</td>
                <td>{{sys.version}}</td>
                <td>{{sys.vendor}}</td>
                <td>{{sys.osName}}</td>
                <td>{{sys.osVersion}}</td>
                <td>{{sys.osArch}}</td>
                <td>{{sys.ip}}</td>
                <td>{{sys.host}}</td>
            </tr>

            </tbody>
        </table>

    </div>

</div>

<div class="col-md-offset-2 col-md-8 " style="display:inline;margin-top: 30px">

    <p class="intro col-md-6 ">
        部署项目核心流程<br/><br/>
        1.将项目复制到/webapp<br/>
        2.解析项目下web.xml<br/>
        3.创建相关容器组件<br/>
        4.根据xml 构造请求映射<br/>
        5.使用类加载器载入类<br/>

    </p>
    <p class="intro col-md-6 ">
        接收请求核心流程<br/><br/>
        1.监听http请求<br/>
        2.构造request,response对象<br/>
        3.解析请求头,请求参数,cookie等<br/>
        4.处理session<br/>
        5.根据请求映射导航到Servlet<br/>
        6.1 动态资源: 传入request和response 调用Servlet的service方法<br/>
        6.2 静态资源: 访问DefaultServlet (缓存管理静态资源)<br/>
        7.织入response header<br/>
        8.响应数据,回收资源<br/>
    </p>

</div>
</body>
</html>

<script type="text/javascript">
    var vue = new Vue({
        el:"#app",
        data:{deployPath:'',contexts:[],sys:{}},
        methods:{
            handle:function (e) {
                var ele = e.currentTarget;

                var val = ele.value;
                var url = "/manager/html?";

                if (val==="部署"){
                    url+=('query=deploy&path='+this.deployPath);
                }else {
                    url+=('query='+val);
                    url+=('&name='+ele.parentElement.id);
                }

                axios.post(url)
                    .then(function (response) {
                       if (response.data['code']==="200"){
                           window.location.href = "/manager/html";
                       }else {
                           alert("操作失败 服务器错误");
                       }

                    })
                    .catch(function (error) {
                        alert("请求失败 "+error);
                        console.log(error);
                    });
            }
        },
        mounted:function() {
            var that = this;
            axios.post('/manager/html?query=contexts')
            .then(function (response) {
                var cs = response.data;
                for (var i=0;i<cs.length;i++){
                    that.contexts.push(cs[i]);
                }
            })
            .catch(function (error) {
                alert("请求失败 "+error);
                console.log(error);
            });

            axios.post('/manager/html?query=system')
            .then(function (response) {
                that.sys = response.data;
            })
            .catch(function (error) {
                alert("请求失败 "+error);
                console.log(error);
            });
        }
    });

</script>


<script type="text/javascript">

    var chart = null;
    var chart2 = null;
    var chart3 = null;

    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });

    chart = Highcharts.chart('container', {
        chart: {
            type: 'spline',
            animation: Highcharts.svg, // don't animate in old IE
            marginRight: 10

        },
        title: {
            text: 'CPU 占用率'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150
        },
        yAxis: {
            title: {
                text: 'CPU Usage'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
            min: 0,
            max: 100
        },
        tooltip: {
            enabled: false
        },
        legend: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        series: [{
            name: 'CPU Usage',
            marker: {
                enabled: false

            },
            data: (function () {
                // generate an array of random data
                var data = [],
                    time = (new Date()).getTime(),
                    i;

                for (i = -1; i <= 0; i += 1) {
                    data.push({
                        x: time + i * 1000,
                        y: 0
                    });
                }
                return data;
            }())
        }],
        credits: {
            enabled: false
        }
    });

    chart2 = Highcharts.chart('container2', {
        chart: {
            type: 'spline',
            animation: Highcharts.svg, // don't animate in old IE
            marginRight: 10

        },
        title: {
            text: '内存占用'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150
        },
        yAxis: {
            title: {
                text: 'MEMORY (KB)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
            max:200000,
            min:0
        },
        tooltip: {
            enabled: false
        },
        legend: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        series: [{
            name: 'MEMORY',
            marker: {
                enabled: false

            },
            data: (function () {
                // generate an array of random data
                var data = [],
                    time = (new Date()).getTime(),
                    i;

                for (i = -1; i <= 0; i += 1) {
                    data.push({
                        x: time + i * 1000,
                        y: 0
                    });
                }
                return data;
            }())
        }],
        credits: {
            enabled: false
        }
    });

    chart3 = Highcharts.chart('container3', {
        chart: {
            type: 'spline',
            animation: Highcharts.svg, // don't animate in old IE
            marginRight: 10

        },
        title: {
            text: '线程数'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150
        },
        yAxis: {
            title: {
                text: 'ALIVE THREAD'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],

        },
        tooltip: {
            enabled: false
        },
        legend: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        series: [{
            name: 'THREAD',
            marker: {
                enabled: false

            },
            data: (function () {
                // generate an array of random data
                var data = [],
                    time = (new Date()).getTime(),
                    i;

                for (i = -1; i <= 0; i += 1) {
                    data.push({
                        x: time + i * 1000,
                        y: 0
                    });
                }
                return data;
            }())
        }],
        credits: {
            enabled: false
        }
    });

    function requestData() {

        var series = chart.series[0];
        var series2 = chart2.series[0];
        var series3 = chart3.series[0];

        var shift = series.data.length > 10;
        var shift2 = series2.data.length > 10;
        var shift3 = series3.data.length > 10;


        $.ajax({
            url: '/manager/html?query=cpu',
            dataType: 'json',
            success: function(ry) {
                var x = (new Date()).getTime(); // current time
                series.addPoint([x, ry["cpu"]], true, shift);
                series2.addPoint([x, ry["mem"]], true, shift2);
                series3.addPoint([x, ry["thread"]], true, shift3);
                setTimeout(requestData, 1000);
            }
        });
    }

    $(document).ready(function () {
        requestData();
    })
</script>